// VARS
$color-menu: #e2e2e2;
$color-menu-nav: #f7f7f7;
$color-font: #292929;
$color-font-white: #fff;
$color-button: #424242;
$color-button-hover: #000;

// BREAKPOINTS
$maxmobile: 767px;
$mintablet: 768px;
$maxtablet: 1024px;
$mindesktop: 1025px;
$mindesktophd: 1280px;