<div class="transaction__statement">
  <h2 class="transaction__title transaction__title--extract">
    Extrato de Transações
  </h2>
  <span class="transaction__remove-data" (click)="removeData()">
    Limpar Transações
  </span>
  <div class="transaction__statement__content">
    <table class="product">
      <thead class="product__title">
        <tr class="type">
          <th>Mercadoria</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="product__item"
          *ngFor="let item of arrayTransaction; let i = index"
          [ngClass]="item.typeTransaction === 'Compra' ? 'buy' : 'sell'"
        >
          <td class="editar-item">
            <a (click)="editaItemData(item, i)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                id="Capa_1"
                enable-background="new 0 0 512 512"
                height="512"
                viewBox="0 0 512 512"
                width="512"
              >
                <g>
                  <path
                    d="m384.721 0-323.626 323.627-61.095 188.373 188.374-61.094 323.626-323.627zm84.853 127.279-42.427 42.427-84.853-84.853 42.426-42.427zm-388.611 232.331 71.427 71.428-32.036 10.39-49.782-49.782zm14.501-27.925 225.617-225.618 31.82 31.82-225.618 225.617zm53.032 53.032 225.618-225.619 31.82 31.82-225.618 225.619zm-88.313 38.965 28.136 28.136-41.642 13.505z"
                  />
                </g>
              </svg>
            </a>
          </td>
          <td class="detail">
            <span class="ico-item">
              {{ item.typeTransaction == 'Compra' ? '-' : '+' }}
            </span>
            <span>
              {{ item.nameProduct }}
            </span>
          </td>
          <td class="price">
            <span>
              {{ item.priceProduct | currency: 'BRL':'symbol':'1.2-2':'pt' }}
            </span>
          </td>
          <td class="apagar-item">
            <span (click)="removeItemData(i)">x</span>
          </td>
        </tr>
        <tr class="product__item--empty" *ngIf="arrayTransaction.length <= 0">
          Nenhuma transação realizada.
        </tr>
      </tbody>
      <hr />
      <tfoot class="product__total">
        <tr class="type">
          <th class="total">Total</th>
          <th class="label">
            {{ result | currency: 'BRL':'symbol':'1.2-2':'pt' }}
            <span class="gain">
              {{ result === 0 ? '' : result >= 0 ? '[Lucro]' : '[Prejuízo]' }}
            </span>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
