<nav class="menu">
    <div id="menuToggle">
        <input type="checkbox" class="input-menu"/>

        <span></span>
        <span></span>
        <span></span>

        <ul class="menu__items">
            <li class="menu__items__item"><a [routerLink]="'/resumo'"
                routerLinkActive="router-link-active" (click)="this.closeMenu()">Resumo</a>
            </li>
            <li class="menu__items__item"><a [routerLink]="'/dashboard'"
                routerLinkActive="router-link-active" (click)="this.closeMenu()">Dashboard</a>
            </li>
            <li class="menu__items__item"><a [routerLink]="'/configuracoes'"
                routerLinkActive="router-link-active" (click)="this.closeMenu()">Configurações</a></li>
        </ul>
    </div>
</nav>